* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

#container {
  background-color: #2b5b84;
}

header {
  padding: 20px 30px;
  position: relative;
}

#utility_container {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translate(0, -50%);
}

#search_container {
  display: inline-block;
  background-color: #1e2933;
  padding: 10px;
}

#donate {
  background-color: #ffd343;
  border-radius: 6px;
  padding: 0.4em 0.75em 0.35em;
  color: #4d4d4d;
}

#go {
  background-color: #244e71;
  color: #f2f4f6;
  border-radius: 6px;
  padding: 0.4em 0.75em 0.35em;
}

#search {
  padding: 5px;
}

#socialize_container {
  margin-left: -5px;
  /* padding-left: 8px; */
  border-left: 1px solid rgb(68, 68, 68);
  display: inline-block;
  height: 49.67px;
  padding: 10px;
  background-color: #1e2933;
  vertical-align: top;
  /* vertical-align: middle; */
}

#socialize {
  color: rgb(150, 149, 149);
  font-size: 14px;
  text-decoration: none;
  /* vertical-align: middle; */
  line-height: 30px;
}

nav {
  width: 90%;
  margin: 0 auto;
  background-color: #3776ab;
  border-radius: 8px;
}

nav ul {
  width: 90%;
  margin: 0 auto;
  /* display: inline-block; */
}

nav li {
  display: inline-block;
  width: 13.8%;
  text-align: center;
  padding: 10px;
}

nav li a {
  color: white;
  text-decoration: none;
}

#promotion_container {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

#promotion {
  /* display: inline-block; */
  margin: 0 auto;
  width: 32%;
  transform: translate(-50%);
}

#promotion h2 {
  color: #ffd343;
}

#promotion p {
  color: white;
}

#python_box {
  position: absolute;
  top: 0;
  right: 150px;
  width: 450px;
}

#content {
  background-color: white;
}

#content {
  padding: 10px 40px 40px 40px;
}

#content > div {
  border-top: 4px solid #75a8d3;
  width: 48%;
  display: inline-block;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

#news {
  margin-right: 3%;
}

.row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.row span {
  margin-right: 15px;
  font-size: 14px;
}

.row a {
  color: #3776ab;
  font-size: 14px;
  text-decoration: none;
}

.header_container {
  position: relative;
  margin-bottom: 10px;
}

.header_container h3,
.header_container a {
  display: inline-block;
}

.header_container a {
  color: #999;
  font-size: 12px;
  position: absolute;
  right: 0;
  bottom: 0;
  text-decoration: none;
}

#python_usage {
  vertical-align: top;
}

#python_usage ul,
#python_usage li,
#python_usage h4 {
  display: inline-block;
}

#python_usage h4 {
  font-size: 14px;
  margin-right: 2px;
}

#python_usage li {
  font-size: 14px;
  color: #444;
  background-color: #d0d4d7;
  padding: 0.2em 0.4em 0.1em;
}

#other_links {
  margin-top: 20px;
  text-align: center;
}

#other_links a {
  display: inline-block;
  color: #89b4d9;
  padding: 10px;
  text-decoration: none;
  text-align: center;
}

#copyright {
  text-align: center;
  font-size: 12px;
  color: #89b4d9;
  margin-top: 15px;
  padding-bottom: 50px;
}
